*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# sbt launcher script
sbt-launch.jar

# intellij
# https://www.jetbrains.com/help/idea/2016.1/managing-projects-under-version-control.html
**/.idea/workspace.xml
**/.idea/tasks.xml
